<%- include('templates/header') %> 
<main role="main">

    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3"><%= dog.Breed %></h1>
      </div>
    </div>

    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <ul>
            <li><strong>Country of Origin:</strong> <%= dog.CountryOfOrigin %></li>
            <li><strong>Fur Color:</strong> <%= dog.FurColor %></li>
            <li><strong>Height:</strong> <%= dog.HeightLowInches %>"-<%= dog.HeightHighInches %>"</li>
            </ul>
        </div>
        <div class="col-md-4">
          <ul>
          <li><strong>Weight:</strong> <%= dog.WeightLowLbs %>-<%= dog.WeightHighLbs %> lbs</li>
          <li><strong>Reps:</strong> <%= dog.RepsLower %>-<%= dog.RepsUpper %></li>
          <li><strong>Color of Eyes:</strong> <%= dog.ColorOfEyes %></li>
        </ul>
        </div>
        <div class="col-md-4">
          <ul>
          <li><strong>Longevity:</strong> <%= dog.LongevityYrs %> years</li>
          <li><strong>Character Traits:</strong> <%= dog.CharacterTraits %></li>
          <li><strong>Common Health Problems:</strong> <%= dog.CommonHealthProblems %></li>
        </ul>
        </div>
      </div>

      <hr>

    </div> 
  </main>



<%- include('templates/footer') %>

