<%- include("templates/header") %>

<main style="font-size:40px">
    <div class="text-center py-5">
        <h1 class="display-1 mb-5">Dog Trivia</h1>
    </div>

    <div class="container">
        <div style="display: flex; justify-content: center; height: 30vh">
            <img src="/pups/<%= correctAnswer %>.png" style="align-self: center;
              height:100%">
        </div>
        <div class="mt-5">
            <p> What is the name of this dog breed? </p>
            <% let i=0; %>
            <% for(i=0; i < result.length; i++) { %>
            <% if (result[i] == correctAnswer) { %>
            <button onclick="window.location.href='/dogTrivia'">
                <%= i %>. <%= result[i] %>
            </button>
            <% } else { %>
            <button onclick="window.location.href='/dogTriviaLost'; 
                    req.session.correctAnswer = '<%= correctAnswer %>'">
                <%= i %>. <%= result[i] %>
            </button>
            <% } %>
            <% } %>
        </div>
    </div>
</main>

<%- include("templates/footer") %>
