<div class="col">
    <div class="card shadow-sm">
      <img src="/pups/<%= bookmarkedDog %>.png" onclick="window.location.href='/description?item=<%= bookmarkedDog %>'"
        style="height:250px;">
      <div class="card-body">
        <p class="card-text" onclick="window.location.href='/description?item=<%= bookmarkedDog %>'"
          style="height: 100px"> <%= bookmarkedDog %> </p>
        <div class="d-flex justify-content-between align-items-center">
        </div>
      </div>
      <div class="mx-auto">
        <button type="button" class="btn btn-sm btn-outline-secondary" 
          onclick="window.location.href='/addOrRemoveBookmark?item=<%= bookmarkedDog %>'"
          style="font-size: 30px;"> 
          Unbookmark 
        </button>
        <div> </div>
      </div>
    </div>
</div>
