<div class="col-6 mb-4">
    <div class="card">
        <img src="/pups/<%= todayDogName %>.png" alt="<%= todayDogName %>" class="card-img-top"
            style="object-fit: cover;">

        <div class="card-body">
            <h5 class="card-title">
                <%= todayDogName %>
            </h5>
            <p class="card-text"> The <%= todayDogName %>
                    <%= todayDogMessage %>
            </p>
            <a href="/description?item=<%= todayDogName %>" class="btn btn-success"> Learn More </a>
        </div>
    </div>

</div>