<div class="mb-4" style="font-size: 30px">
    <div class="card">
        <img src="/pups/<%= todayDogName %>.png" alt="<%= todayDogName %>" class="card-img-top"
            style="object-fit: cover;">

        <div class="card-body">

            <h2 class="card-title fw-bold"> <%= todayDogName %> </h5>
            <p class="card-text"> The <%= todayDogName %> <%= todayDogMessage %></p>
            <a href="/description?item=<%= todayDogName %>" 
                class="btn btn-success" style="font-size: 30px;"> Learn More 
            </a>

        </div>
    </div>

</div>